@import './base.css';
@import './game.css';

body {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  background-color: #faf8ef;
  color: #776e65;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 500px) {
  #app {
    padding: 10px;
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
